html {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Righteous', cursive;
  margin: 0;
  background: hsla(210, 100%, 90%, 1);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.33rem 0.5rem;
  font-family: 'Righteous', cursive;
  font-size: 1.5rem;
  border: 0;
  transition: 0.05s;
  background: #fbfbfb;
  box-shadow: 1px 2px 3px 1px hsla(210, 33%, 33%, 0.75);
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: fit-content;
  min-width: 320px;
  text-shadow: 1px 1px 2px rgba(51, 58, 64, 1), 
               2px 2px 5px rgba(102, 116, 128, 1);
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

#pixelPainter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  min-width: 320px;
  margin: 0 auto;
}

#canvas,
#palette {
  width: fit-content;
  border: 1px solid #2b2b2b;
  margin-bottom: 1rem;
  box-shadow: 1px 2px 3px hsla(210, 33%, 33%, 0.75);
}

#options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
}

.canvas-row {
  display: flex;
  height: 12px;
  width: fit-content;
}

.canvas-cell {
  width: 12px;
  border: 1px solid #2b2b2b;
  background: #fff;
}

.palette-row {
  display: flex;
  height: 24px;
  width: fit-content;
}

.palette-cell {
  width: 24px;
  border: 1px solid #2b2b2b;
}

.erase-button,
.clear-button {
  transition: 0.1s;
}

.select-color {
  border: 1px solid #fff;
  box-shadow: inset 0px 0px 1px 1px #fff;
}

.select-erase {
  background: hsla(60, 100%, 75%, 1);
}

.press-erase {
  transform: translate(1px, 2px);
  box-shadow: none !important;
}

.press-clear {
  transform: translate(1px, 2px);
  box-shadow: none !important;
  background: hsla(0, 100%, 75%, 1);
}

@media (min-width: 576px) and (min-height: 576px) {
  button {
    padding: 0.36rem 0.55rem;
    font-size: 1.65rem;
    box-shadow: 1px 2px 3px 1px hsla(210, 33%, 33%, 0.75);
  }
  h1 {
    font-size: 3.3rem;
    margin-top: 2.2rem;
    margin-bottom: 1.1rem;
    text-shadow: 2px 2px 2px #2b2b2b;
  }
  #canvas,
  #palette {
    border: 1px solid #2b2b2b;
    margin-bottom: 1.1rem;
    box-shadow: 1px 2px 3px hsla(210, 26%, 7%, 0.75);
  }
  .canvas-row {
    height: 13.2px;
  }
  .canvas-cell {
    width: 13.2px;
    border: 1px solid #2b2b2b;
  }
  .palette-row {
    height: 26.4px;
  }
  .palette-cell {
    width: 26.4px;
    border: 1px solid #2b2b2b;
  }
  .select {
    border: 1px solid #fff;
    box-shadow: inset 0px 0px 1.1px 1.1px #fff;
  }
}

@media (min-width: 768px) and (min-height: 768px) {
  button {
    padding: 0.47rem 0.72rem;
    font-size: 2.15rem;
    box-shadow: 1px 2px 3px 1px hsla(210, 33%, 33%, 0.75);
  }
  h1 {
    font-size: 4.29rem;
    margin-top: 2.86rem;
    margin-bottom: 1.43rem;
    text-shadow: 2px 2px 2px #2b2b2b;
  }
  #canvas,
  #palette {
    border: 1px solid #2b2b2b;
    margin-bottom: 1.43rem;
    box-shadow: 1px 2px 3px hsla(210, 26%, 7%, 0.75);
  }
  .canvas-row {
    height: 17.16px;
  }
  .canvas-cell {
    width: 17.16px;
    border: 1px solid #2b2b2b;
  }
  .palette-row {
    height: 34.32px;
  }
  .palette-cell {
    width: 34.32px;
    border: 1px solid #2b2b2b;
  }
  .select {
    border: 1px solid #fff;
    box-shadow: inset 0px 0px 1.43px 1.43px #fff;
  }
}

@media (min-width: 992px) and (min-height: 992px) {
  button {
    padding: 0.61rem 0.93rem;
    font-size: 2.79rem;
    box-shadow: 1px 2px 3px 1px hsla(210, 33%, 33%, 0.75);
  }
  h1 {
    font-size: 5.58rem;
    margin-top: 3.72rem;
    margin-bottom: 1.86rem;
    text-shadow: 2px 2px 2px #2b2b2b;
  }
  #canvas,
  #palette {
    border: 1px solid #2b2b2b;
    margin-bottom: 1.86rem;
    box-shadow: 1px 2px 3px hsla(210, 26%, 7%, 0.75);
  }
  .canvas-row {
    height: 22.31px;
  }
  .canvas-cell {
    width: 22.31px;
    border: 1px solid #2b2b2b;
  }
  .palette-row {
    height: 44.62px;
  }
  .palette-cell {
    width: 44.62px;
    border: 1px solid #2b2b2b;
  }
  .select {
    border: 1px solid #fff;
    box-shadow: inset 0px 0px 1.86px 1.86px #fff;
  }
}
